{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}
	{% bootstrap_icon 'user' %} Usuários
{% endblock %}

{% block content %}
	<div class="panel panel-default">
	  <div class="panel-body">
	    <a href="{% url 'usuario_create' %}" class="btn btn-md btn-primary">{% bootstrap_icon 'floppy-disk' %} Cadastrar usuário</a>
	  </div>
	</div>
	<table class="table table-hover">
  		<thead>
  			<th>Nome</th>
  			<th>Tipo</th>
  			<th>E-mail</th>
  			<th>Último acesso</th>
  			<th class="text-center">Editar</th>
  			<th class="text-center">Excluir</th>
  		</thead>
  		<tbody>
  			{% for usuario in object_list %}
				<tr>
					<td>{{ usuario.nome }}</td>
					<td>{{ usuario.get_tipo_display }}</td>
					<td>{{ usuario.email }}</td>
					<td>{{ usuario.last_login|date:"d/m/Y H:i" }}</td>
					<td class="text-center">
				          {% bootstrap_button content='' href=usuario.get_absolute_url button_type='link' icon='edit' button_class='btn btn-primary' size='sm' %}
				    </td>
				    <td class="text-center">
				          {% bootstrap_button content='' href=usuario.get_delete_url button_type='link' icon='trash' button_class='btn btn-danger' size='sm' %}
				    </td>
				</tr>
			{% endfor %}
  		</tbody>
	</table>
{% endblock %}